* {
    box-sizing: border-box;
    font-family: 'Termina Test', 'Nunito', sans-serif;
}

html {
    font-size: 12px;
}

body {
    margin: 0;
    // to allow for footer
    // margin-bottom: 60px;
}

main {
    min-height: calc(100vh - 196px);
}

form input,
select {
    @include button($secondary-color, white);
    width: 400px;
    padding: 10px;
    margin: 5px;
}

form button {
    margin: 20px;
    padding: 6px 40px;
    @include button(white, $secondary-color);
}

form button:hover {
    margin: 20px;
    padding: 6px 40px;
    @include button($secondary-color, white);
}