.form-container {
    padding: 1em;
    // @include flex(column, center, center);
    // @include boxShadow();

    legend {
        text-align: center;
        background-color: white;
    }
}

.hero {
    @include flex(column, center, center)
}