.form-container {

    padding: 1em 3em 0;
    border: none;
    width: fit-content;
    background-color: white;


    legend {
        text-align: center;
        background-color: white;
    }
}

.hero {
    @include flex(column, center, center)
}