.index-page {
    @include flex(row, flex-start, flex-start);
    background-color: white;
    // margin: 5em;
    padding: 2em;
    }

.container-grid {
    margin: 1em;
}

.filter-bar {
    @include flex(row, center, space-between);
    padding: 1em 5em;


    .search {
        align-self: flex-start;
        // width: calc(100vw - 20em);
            }

    button {
        @include button($secondary-color, white);
        padding: 1em 2em;
        // margin-right: 1em;
    }

    button:hover {
        @include button(white, $secondary-color);
    }
}


.items-list {
    .single-container {
        text-decoration: none;
        color: black;
        text-align: -webkit-center;
        padding-bottom: 5em;
        box-shadow: 10px;
        // width: auto;
        
        .thumbnail {
            padding: 1em;
            text-align: right;
            height: 90%;
            width: 90%;
            border: 10px solid;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            justify-items: center;
            border: none;
            margin-bottom: 0.5em;
            box-shadow: 5px 5px 10px #d3d3d3,
                -5px -5px 10px #ededed;
            // transition: size 0.2s;
            transition: all .2s ease-in-out;

            &:hover {
                // width: 100%;
                transform: scale(1.04);
            }
        }


        h5,
        p {
            margin: 0;
        }
    }
}

.table-content {
    padding-right: 5em;
}

.css-ahj2mt-MuiTypography-root{
    font-family: 'Termina Test', sans-serif;;
}