.container-fluid {
    width: auto;
    margin: 5em;
}

.indInfoColumn {
    background-color: white;
    padding: 5em;
    // margin-left: 5em;
}

.indImgColumn{
    background-size: contain;
    background-repeat: no-repeat;

}



