.navBarTop {
    @include flex(row, center, space-between);
    background-color: $navBar-color;
    padding: 0 5em;

}

.navBarTop-menu {
    @include flex(row, center, flex-start);
    .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root,
    .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select 
    {
        color:white;
        font-weight: 500;
        font-size: small;
    }

    .nav-button {
        padding-right: 5em;
        color: white;
        font-weight: 500;
        font-size: small;
        border: none;
        background-color: transparent;
        // font-size: 0.8em;
        text-decoration: none;

        @media (max-width: 576px) {
            padding: 10px;
            font-size: 16x;
        }
    }

    // Link {
    //     @include flex(row, center, space-evenly);

    //     @media (max-width: 576px) {
    //         display: flex;
    //         justify-content: space-evenly;
    //         width: 100%;
    //     }
    // }
}

.navBarTop-account {
    @include flex(row, center, flex-end);
    .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root,
    .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select 
    {
        color:white;
        font-weight: 500;
        font-size: small;
    }
}


.css-ov3z8l-MuiMenuItem-root:first-child,.css-ov3z8l-MuiMenuItem-root:last-child{
    color:$secondary-color;
    font-family: 'Termina Test';
    // font-weight: bold;
}
.navBarTwo {
    display: flex;
    @include flex(row, center, flex-start);
    background-color: white;
    padding: 1em 5em;
    .nav-button {
        color: $navBar-color;
        padding-right: 5em;
        border: none;
        background-color: transparent;
        // font-size: 0.8em;
        text-decoration: none;

        @media (max-width: 576px) {
            padding: 10px;
            font-size: 16x;
        }
    }
    Link {
        @include flex(row, center, space-evenly);

        @media (max-width: 576px) {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
        }
    }
}

.nav-link {
    @include flex(row, center, space-evenly);

    @media (max-width: 576px) {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
}

nav button:hover {
    color: $secondary-color;
}

@media (max-width: 768px) {
    nav {
        @include flex(column, center, center);
    }
}