.errorMessage {
    background-color: indianred;
    color: white;
    text-align: center;
    padding: 1em;
}

fieldset {
    @include flex(column,center,center);
}

input::placeholder {
    color: $secondary-color
}

.form-container {
    padding: 3em 3em 0 3em;
    border: none;
    width: fit-content;
    background-color: white;
}