.errorMessage {
    background-color: indianred;
    color: white;
    text-align: center;
    padding: 1em;
}

.fieldset {
    // @include flex(column,center,center);
    @include boxShadow();
    margin: 3em 0 0 0;
    // width: auto;
    label {
        padding: 2em 0 0 4em;
    }
}

input::placeholder {
    color: $secondary-color
}