@import url("https://fonts.cdnfonts.com/css/termina-test");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&family=Roboto:wght@100&display=swap");
h3 {
  font-size: 1.75em;
}

* {
  box-sizing: border-box;
  font-family: "Termina Test", sans-serif;
}

html {
  font-size: 12px;
  min-width: -moz-min-content;
  min-width: min-content;
}

body {
  margin: 0;
}

main {
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url("https://res.cloudinary.com/ddzwh699a/image/upload/v1705247153/GA-SEI-P4-RDS/background-1920x1080.jpg");
  background-blend-mode: overlay;
  background-position: center;
}

form input,
select {
  border: 1px solid lightcoral;
  border-radius: 10px;
  background-color: white;
  color: lightcoral;
  width: 400px;
  padding: 10px;
  margin: 5px;
}

form button {
  margin: 20px;
  padding: 6px 40px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: lightcoral;
  color: white;
}

form button:hover {
  margin: 20px;
  padding: 6px 40px;
  border: 1px solid lightcoral;
  border-radius: 10px;
  background-color: white;
  color: lightcoral;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  padding-top: 5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form-container {
  padding: 1em;
}
.form-container legend {
  text-align: center;
  background-color: white;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-fluid {
  width: auto;
  margin: 5em;
}

.indInfoColumn {
  background-color: white;
  padding: 5em;
  border-radius: 0px;
  background: #ffffff;
  box-shadow: 16px 16px 45px #c2c2c2, -16px -16px 45px #ffffff;
}

.indImgColumn {
  background-size: contain;
  background-repeat: no-repeat;
}

.imagePlaceHolder {
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url(https://www.clevelandohio.gov/themes/custom/clevelandohio/img/landmark-placeholder.png);
  background-blend-mode: color;
}

.page-title {
  text-align: end;
}

.section-separation {
  padding-top: 5em;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}

.ffe-list {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 9fr 1fr 1fr;
  border-bottom: 1px dashed black;
  align-items: baseline;
}
.ffe-list :last-child {
  text-align: center;
}
.ffe-list :nth-last-child(2) {
  text-align: center;
}

.roomType-list {
  color: black;
  text-decoration: none;
  display: grid;
  gap: 1em;
  grid-template-columns: 2fr 15fr 1fr;
  border-bottom: 1px dashed black;
  align-items: baseline;
}
.roomType-list :last-child {
  text-align: center;
}

.index-page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
  padding: 2em;
}

.container-grid {
  margin: 1em;
  background-color: white;
  margin: 0;
  width: -webkit-fill-available;
}

.filter-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em 5em;
}
.filter-bar .search {
  align-self: flex-start;
}
.filter-bar button {
  border: 1px solid lightcoral;
  border-radius: 10px;
  background-color: white;
  color: lightcoral;
  padding: 1em 2em;
}
.filter-bar button:hover {
  border: 1px solid white;
  border-radius: 10px;
  background-color: lightcoral;
  color: white;
}

.rails {
  aspect-ratio: 1/1;
}

.items-list .single-container {
  text-decoration: none;
  color: black;
  text-align: -webkit-center;
  box-shadow: 10px;
}
.items-list .single-container .thumbnail {
  text-align: right;
  height: 90%;
  width: 90%;
  border: 10px solid;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-items: center;
  border: none;
  margin-bottom: 0.5em;
  box-shadow: 5px 5px 10px #d3d3d3, -5px -5px 10px #ededed;
  transition: all 0.2s ease-in-out;
}
.items-list .single-container .thumbnail:hover {
  transform: scale(1.04);
}
.items-list .single-container h5,
.items-list .single-container p {
  margin: 0;
}

.table-content {
  padding-right: 5em;
}

.css-ahj2mt-MuiTypography-root {
  font-family: "Termina Test", sans-serif;
}

.navBarTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: lightcoral;
  padding: 0 5em;
}

.navBarTop-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.navBarTop-menu .nav-button {
  padding-right: 5em;
  color: white;
  font-weight: 500;
  font-size: small;
  border: none;
  background-color: transparent;
  text-decoration: none;
}
@media (max-width: 576px) {
  .navBarTop-menu .nav-button {
    padding: 10px;
    font-size: 16x;
  }
}

.navBarTop-account {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.css-ov3z8l-MuiMenuItem-root:first-child, .css-ov3z8l-MuiMenuItem-root:last-child {
  color: lightcoral;
  font-family: "Termina Test";
}

.navBarTwo {
  display: flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  padding: 1em 5em;
}
.navBarTwo .nav-button {
  color: lightcoral;
  padding-right: 5em;
  border: none;
  background-color: transparent;
  text-decoration: none;
}
@media (max-width: 576px) {
  .navBarTwo .nav-button {
    padding: 10px;
    font-size: 16x;
  }
}
.navBarTwo Link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 576px) {
  .navBarTwo Link {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}

.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 576px) {
  .nav-link {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}

nav button:hover {
  color: lightcoral;
}

@media (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.errorMessage {
  background-color: indianred;
  color: white;
  text-align: center;
  padding: 1em;
}

.fieldset {
  border-radius: 0px;
  background: #ffffff;
  box-shadow: 16px 16px 45px #c2c2c2, -16px -16px 45px #ffffff;
  margin: 3em 0 0 0;
}
.fieldset label {
  padding: 3em 0 0 5em;
}

input::-moz-placeholder {
  color: lightcoral;
}

input::placeholder {
  color: lightcoral;
}

.form-container {
  padding: 3em 3em 0 3em;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  background-color: white;
}

.modal-buttonToUpload,
.submitBtn {
  border: 1px solid white;
  border-radius: 10px;
  background-color: lightcoral;
  color: white;
  margin: 5px;
}
.modal-buttonToUpload:hover,
.submitBtn:hover {
  border: 1px solid lightcoral;
  border-radius: 10px;
  background-color: white;
  color: lightcoral;
}/*# sourceMappingURL=main.css.map */